#header {
    .background {
        opacity: 1;
    }
}
.content {
    padding-top: 125px;
    width: 100%;
    max-width: 1111px;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        // background-image: url("/assests/images/background-of-menu.webp");
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        background-color: white;
        img {
            width: 100%;
        }
    }
    .categories {
        position: fixed;
        width: 350px;
        top: 130px;
        max-height: calc(100% - 135px);
        padding-top: 23px;
        overflow-y: auto;
        z-index: 100;
        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: none;
        }
        ::-webkit-scrollbar {
            width: 0px;
        }
        ul {
            position: relative;
            overflow: auto;
            li {
                padding: 12px 30px;
                position: relative;
                text-align: left;

                cursor: pointer;
                font-weight: bold;
                a {
                    font-size: 16px;
                    font-weight: 700;
                    color: #000;
                }
            }
            .active {
                a {
                    color: #ea8025;
                }
            }
        }
    }
    .items {
        position: relative;
        max-width: calc(100% - 350px);
        padding: 30px auto;
        margin-left: 350px;
        color: black;
        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: none;
        }
        .category {
            z-index: 99;
            position: relative;
            h1 {
                font-size: 42px;
                color: black;
                margin-bottom: 30px;
            }
            .line {
                border-top: solid 3px #f58722;
                width: 70px;
                height: 20px;
            }
            ul {
                display: grid;
                // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                grid-template-columns: 33.333% 33.334% 33.333%;
                .item {
                    position: relative;
                    // display: grid;
                    cursor: pointer;
                    overflow-x: hidden;
                    text-overflow: clip;
                    // grid-template-columns: 100px auto;
                    margin: 10px 10px;
                    padding: 5px;
                    padding-top: 15px;
                    // box-shadow: 2px 2px 5px grey;
                    .background {
                        position: absolute;
                        opacity: 1;
                        background-color: white;
                    }
                    .image {
                        position: relative;
                        overflow-y: hidden;
                        height: 250px;
                        img {
                            width: 100%;
                            position: absolute;
                            top: 0%;
                        }
                    }
                    .item-info {
                        position: relative;
                        margin-bottom: 55px;
                        .name {
                            font-size: 20px;
                            font-weight: 700;
                            font-family: "BebasNeue", "Lato", "Times New Roman", serif;
                            padding: 12px 15px;
                            position: relative;
                            height: 55px;
                        }
                        .name:hover {
                            color: #f58722;
                            transition-duration: 1s;
                        }
                        .description {
                            font-weight: 10;
                            margin-bottom: 35px;
                            .detail {
                                font-size: 16px;
                                color: gray;
                            }
                            .allergener {
                                font-size: 16px;
                                color: gray;
                                span {
                                    color: red;
                                }
                            }
                        }
                    }
                    .price {
                        position: absolute;
                        bottom: 10px;
                        font-size: 24px;
                        font-family: "BebasNeue", "Lato", "Times New Roman", serif;
                        font-weight: 700;
                        color: #ea8025;
                        left: 22px;
                    }
                }
            }
        }
    }
}

.content.header-small {
    .categories {
        top: 80px;
        max-height: calc(100% - 95px);
    }
}

@media only screen and (max-width: 819px) {
    .content {
        .background {
            img {
                width: unset;
                height: 100%;
            }
        }
        .categories {
            top: 85px;
            width: 100%;
            padding-top: 0;
            .background {
                background-color: black;
                height: calc(100% - 16px);
            }
            ul {
                white-space: nowrap;
                li {
                    display: inline;
                    margin-left: 20px;
                    padding: 0 10px;
                    a {
                        color: white;
                    }
                }
            }
        }
        .items {
            max-width: 100%;
            margin-left: 0;
            padding: unset;
            .category {
                ul {
                    grid-template-columns: 1fr;
                    // .item {
                    //     margin: 10px 0;
                    // }
                }
            }
        }
    }
    .content.header-small {
        .categories {
            top: 85px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .content {
        .items {
            .category {
                ul {
                    .item {
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}
