.content {
    padding-top: 125px;
    width: 100%;
    min-width: auto;
    min-height: calc(100% - 125px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    // display: grid;
    // grid-template-columns: auto auto;
    background-image: url("/assests/images/restaurant-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .categories {
        color: yellow;
        li {
            text-align: right;
        }
    }
    .items {
        opacity: 0.8;
        background-color: gray;
        width: 100%;
        max-width: 700px;
        padding: 30px 70px;
        margin-left: auto;
        margin-right: auto;
        color: honeydew;
        h1 {
            font-size: 25px;
            color: yellow;
        }
        .item {
            .item-info {
                display: grid;
                grid-template-columns: max-content auto max-content;
                .dots {
                    border-bottom: dotted 2px white;
                    margin: 0 5px 6px 5px;
                }
            }
        }
    }
}
