.slides-wrapper {
    position: relative;
    .indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(0, -50%);
    }
    .slide-container {
        width: 70%;
        margin: auto;
    }
    .each-slide > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        .slide-text-area {
            color: white;
            .slide-title {
                font-size: 50px;
                text-shadow: #ffffff 0px 0px 6px;
            }
            .slide-content{
                font-size: 25px;
                letter-spacing: 0.3em;
                text-align: center;
            }
        }
    }
    .each-fade {
        display: flex;
    }
    .each-fade {
        .image-container {
            width: 75%;
            overflow: hidden;
        }
    }
    .each-fade {
        .image-container {
            img {
                width: 100%;
            }
        }
    }
}
