body, html {
    height: 100%;
}

#root {
    height: 100%;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 200;
}

.h_inner {
    position: relative;
    width: 80%;
    height: 125px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.h_inner li {
    float: right;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center
}

.h_inner li.logo {
    float: left;
}

.h_inner li.logo a {
    margin-left: 0;
}

.h_inner li a {
    text-decoration: none;
    margin-left: 20px;
    color: #118FA6;
    font-weight: bold;
}

.h_inner li a img {
    height: 100px;
}

.h_inner li a:hover {
    color: #F58722;
    text-decoration: none;
}

.h_inner li a:hover:not(.active) {
    color: #F58722;
    text-decoration: underline;
}

.active {
    color: #F58722;
}

.h_inner img {
    max-width: 100%;
}

#footer {
    position: relative;
    width: 100%;
    color: white;
    min-height: 150px;
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 20px 0;
}

#footer .contact .icon-2 {
    margin: 0 5px;
}

#footer .contact .address p {
    text-align: left;
    width: 280px;
    margin: 10px auto;
}

#footer .contact .address img {
    width: 20px;
    margin-right: 5px;
}

#footer .open-time .duration p {
    max-width: 300px;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    margin: 5px auto;
}

#footer .open-time .duration p .time {
    text-align: right;
}

.wrapper {
    width: 100%;
    background-color: white;
}

.wrapper h1 {
    font-family: 'SF Pro Display heavy';
}

.btn {
    background-color: white;
    color: #118FA6;
    font-weight: bold;
    text-decoration: none;
    border: solid 1px #118FA6;
    padding: 5px 20px;
}

.btn:hover {
    background-color: #118FA6;
    color: white;
}