body, html {
  height: 100%;
}

#root {
  height: 100%;
}

#header {
  position: relative;
  background-color: #fff;
}

.h_inner {
  position: relative;
  width: 80%;
  height: 125px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center
}

li.logo {
  float: left;
}

li.logo a {
  margin-left: 0;
}

li a {
  text-decoration: none;
  margin-left: 20px;
  color: #118FA6;
  font-weight: bold;
}

li a img {
  height: 100px;
}

li a:hover {
  color: #F58722;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #F58722;
  text-decoration: underline;
}

.active {
  color: #F58722;
}

.h_inner img {
  max-width: 100%;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #118FA6;
}

.wrapper {
  width: 100%;
  background-color: white;
}

.wrapper h1 {
  font-family: 'SF Pro Display heavy';
}

@media (max-height: 620px) {
  .footer {
    position: relative;
  }
}
