body, html {
    height: 100%;
}

#root {
    height: 100%;
}

#header {
    position: relative;
    background-color: #fff;
}

.h_inner {
    position: relative;
    width: 80%;
    height: 125px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.h_inner li {
    float: right;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center
}

.h_inner li.logo {
    float: left;
}

.h_inner li.logo a {
    margin-left: 0;
}

.h_inner li a {
    text-decoration: none;
    margin-left: 20px;
    color: #118FA6;
    font-weight: bold;
}

.h_inner li a img {
    height: 100px;
}

.h_inner li a:hover {
    color: #F58722;
    text-decoration: none;
}

.h_inner li a:hover:not(.active) {
    color: #F58722;
    text-decoration: underline;
}

.active {
    color: #F58722;
}

.h_inner img {
    max-width: 100%;
}

#footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    color: #118FA6;
    background-color: aqua;
    height: 150px;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
}

.wrapper h1 {
    font-family: 'SF Pro Display heavy';
}

.btn {
    background-color: white;
    color: #118FA6;
    font-weight: bold;
    text-decoration: none;
    border: solid 1px #118FA6;
    padding: 5px 20px;
}

.btn:hover {
    background-color: #118FA6;
    color: white;
}